<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="testConnectionString" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString2" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString3" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString4" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString5" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;Persist Security Info=True;User id=sa;password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString6" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString7" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString8" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString9" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString10" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString11" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString12" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString13" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString14" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString15" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString16" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString17" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString18" connectionString="Data Source=LAPTOP-MVSLPF8J\SQLEXPRESS;Initial Catalog=test;User ID=sa;Password=26428548" providerName="System.Data.SqlClient"/>
    <add name="testConnectionString19" connectionString="Data Source=59.124.220.17\SQL2008,5857;Initial Catalog=test;User ID=student;Password=Aa123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers/>
    <pages>
      <controls/>
    </pages>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: C06D85E3-B5FC-4EB6-BE7A-1CCBCB5341F8-->